table {
    border-collapse: collapse;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    padding: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: #555;
}

thead {
    background: #f4f4f4;
}

tbody tr:hover {
    background: #fafafa;
}

.action-filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.todo-form {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 15px 20px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 30px 40px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button {
    background: #28a745;
}

textarea.description {
    width: 25%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}